:host {
	display: block;
	width: 64px;
	height: 64px;
	position: absolute;
}
:host > img {
	margin-left: -64px;
	margin-top: -64px;
}
:host > span {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 150%;
}

